{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/permissions.js"></script>
    <script type="text/javascript">
        var mod = angular.module('rest', [])

        mod.factory('RestApi', function ($http) {
                    function patchDeferred(defer) {
                        defer.always = function (callback) {
                            defer.then(callback, callback);
                        }
                        return defer;
                    }


                    return {
                        searchUsers: function (emailPrefix) {
                            var defer = $http.post('{{ list_users_path }}', {'email_prefix': emailPrefix})
                            return patchDeferred(defer);

                        },
                        searchNextPage: function (url) {
                            var defer = $http.post(url)
                            return patchDeferred(defer);

                        },
                        updateUserGroups:function(path, groups){
                            var defer = $http.post(path,groups)
                            return patchDeferred(defer);
                        }
                    };
                }
        )

    </script>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 5px 5px 5px
        }
    </style>
{% endblock %}
{% block body %}
    <div ng-app="app" ng-controller="AppCtrl">
        <h1>User's Table</h1>
        <permform search="searchUsers" show-button="searchingUsersFlag"></permform>
        <permtable users="users" next-page="nextPage"
                show-table="searchingUsersFlag"
                more-results-flag="moreResultsFlag"
                search-prefix="searchPrefix"></permtable>

    </div>
{% endblock %}