{% extends 'base.html' %}
{% block head %}
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 5px 5px 5px
        }
    </style>
{% endblock %}
{% block body %}
    <div>
        <h1>Security Table</h1>
        <table>
            <thead>
            <tr>
                <th>Path</th>
                <th>Allowed Groups</th>
                <th>CSRF security</th>
            </tr>
            </thead>
            <tbody>
            {% for info in path_infos %}
                <tr>
                    <td><a href="{{ info.path }}">{{ info.path }}</a></td>
                    <td>{{ info.groups }}</td>
                    <td>{{ info.csrf }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}