{% extends 'base.html' %}
{% block body %}
    <div>
    <h1>GAE Permission Features</h1>
        <a href="{{ login_path }}">Login Options</a><br />
        <a href="{{ permission_admin_path }}">Permission Admin</a><br />
        <a href="{{ security_table_path }}">Security Table</a><br />

        <h2>Secured Link Examples</h2>
        <a href="{{ sys_owner_path }}">System owner Only</a><br />
        <a href="{{ no_login_path }}">Login not Required</a><br />
        <a href="{{ no_permission_path }}">Permission not Required</a><br />
        <a href="{{ manager_path }}">Manager Only</a><br />
        <a href="{{ adm_path }}">Admin Only</a><br />
        <a href="{{ adm_or_manager_path }}">Admin or Manager</a>

    </div>
{% endblock %}